<a href="https://colab.research.google.com/github/bw191121/MIS2800/blob/main/WoodHW2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('HW3_AFC_North_APPG.db')

# Create A Strict Table

In [3]:
conn.execute('''
CREATE TABLE HW_AFC_North_APPG(
  team_name TEXT PRIMARY KEY NOT NULL,
  coach TEXT,
  wins INTEGER,
  loses INTEGER,
  ties INTEGER)
  STRICT;
  ''')

# Add Team Stats

In [6]:
conn.execute('''
INSERT INTO HW_AFC_North_APPG (team_name, coach, wins, loses, ties)
VALUES ('Steelers', 'Mike Tomlin', 10, 7, 0),
('Ravens', 'John Harbaugh', 8, 9, 0),
('Bengals', 'Zac Taylor', 6, 11, 0),
('Browns', 'Kevin Stefanski', 5, 12, 0);
''')

# Filtering Teams

In [7]:
#select all the data where teams had more than 7 wins
query = "SELECT * FROM HW_AFC_North_APPG WHERE wins > 7"
results = conn.execute(query)
for row in results:
  print(row)

('Steelers', 'Mike Tomlin', 10, 7, 0)
('Ravens', 'John Harbaugh', 8, 9, 0)

# Sorting Data

In [8]:
#Select only the team_name and wins. Sort numercially from highest to lowest based on wins
query = "SELECT team_name, wins FROM HW_AFC_North_APPG ORDER BY wins DESC"
for row in conn.execute(query):
  print(row)

('Steelers', 10)
('Ravens', 8)
('Bengals', 6)
('Browns', 5)